* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: rgb(199,12,152,1);
  background-image:  linear-gradient(to right bottom, rgba(214, 203, 203, 0.4), rgba(214, 181, 181, 0.073)), url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 1px 1px 26px 10px rgba(199,12,152,1);
  -moz-box-shadow: 1px 1px 26px 10px rgba(199,12,152,1);
  caja-sombra: 1px 1px 26px 10px rgba(199,12,152,1);
}


#cesta-carrito {
  border: none;
  color: rgb(231, 35, 205);
  font-size: 30px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s;
}

#cesta-carrito:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgb(231, 35, 205);
}

#cesta-carrito:focus {
  outline: none;
}

#producto-contenedor {
  display: grid;
  gap: 3rem;
  max-width: 60rem;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
  font-weight: bold;
  font-size: 17px;
}

.card {
  max-width: 30%;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(236, 247, 151);
  -webkit-box-shadow: 1px 1px 26px 10px rgba(199,12,152,1);
  -moz-box-shadow: 1px 1px 26px 10px rgba(199,12,152,1);
  caja-sombra: 1px 1px 26px 10px rgba(199,12,152,1);
}

select {
  display: inline;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: rgb(230, 250, 141);
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 26px 10px rgba(206, 246, 28);
  -moz-box-shadow: 1px 1px 26px 10px rgba(206, 246, 28);
  caja-sombra: 1px 1px 26px 10px rgba(206, 246, 28);
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(200, 18, 184);
  padding-bottom: 5px;
}

.modal-carrito #btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(231, 35, 205) !important;
  border: none;
  background-color: rgb(230, 250, 141);
}

.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer;
}

.modal-carrito #btn-cerrar-carrito:focus {
  outline: none;
}

.modal-carrito .producto-precio {
  padding-top: 10px;
}

.card .card-image .card-title {
  color: rgb(145, 14, 121);
  position: unset;
  font-weight: bold;
  
}

.productoEnCarrito {
  border-left: 5px solid rgb(97, 13, 96);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid rgb(250, 242, 22);
}

.boton-eliminar {
  background-color: rgb(230, 250, 141);
  color: #780c7a;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}
.btn-floating i{
  background-color: #780c7a;
  color: yellow;
}
